@import "variables.scss";
@import "header.scss";
@import "welcome.scss";
@import "consultant.scss";
@import "bestdoor.scss";
@import "footer.scss";
@import "advantages.scss";
@import "feedback.scss";
@import "viewed.scss";
@import "buynow.scss";
@import "brands.scss";
@import "news.scss";
@import "nullstyle.scss";


html {
    touch-action: manipulation;
}

body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    
}

h1 {
    
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

.button {
    border: none;
    cursor: pointer;
    transition: all 0.19s ease;

    // &:hover {
    // }
    // &:focus,
    // &:active {
    // }
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

p {
    margin: 0;
}

main {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 20px;
}

.container {
    padding: 0 15px;

    @media (min-width: $tablet) {
        padding: 0 34px;
    }

    @media (min-width: $tabletM) {
        padding: 0 35px;
    }
    @media (min-width: $laptop) {
        padding: 0 36px;
    }
    @media (min-width: $desktop2) {
        padding: 0 100px;
    }
}